<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.fystock.bigdata.cloud.mapper.BigScreenTradeCountInfoMapper">

    <resultMap type="com.fystock.bigdata.cloud.model.TradeCountInfo" id="TradeCountInfoMap">
        <result property="date" jdbcType="VARCHAR" column="date"/>
        <result property="time" jdbcType="VARCHAR" column="time"/>
        <result property="tradeCount" jdbcType="VARCHAR" column="trade_count"/>
    </resultMap>

    <select id="getTradeCountInfo" parameterType="java.lang.String" resultMap="TradeCountInfoMap">
        WITH addMinutes(r.date_time, 15) AS endDt
        SELECT toDate(r.date_time) AS `date`,
               formatDateTime(endDt,'%H:%M') AS `time`,
               r.trade_count
        FROM(
                SELECT
                    toStartOfFifteenMinutes(toDateTime(trade_time)) AS date_time,
                    COUNT(DISTINCT stk_code) AS trade_count
                FROM DWS_BIGSCREEN_DATA.TRADE_JOIN_USER_AND_ASSET_TEST
                WHERE exchange_type ='K' AND toDate(trade_time) = #{tradeDate,jdbcType=VARCHAR} AND is_grey ='0'
                GROUP BY date_time
                ORDER BY date_time ASC
            ) AS r
    </select>
</mapper>