<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.fystock.bigdata.cloud.mapper.TradeUserCountInfoMapper">

    <resultMap type="com.fystock.bigdata.cloud.model.TradeUserCountInfo" id="TradeUserCountInfoMap">
        <result property="date" jdbcType="VARCHAR" column="date"/>
        <result property="time" jdbcType="VARCHAR" column="time"/>
        <result property="tradeUserCount" jdbcType="BIGINT" column="trade_user_count"/>
    </resultMap>

    <select id="getTradeUserCountInfo" parameterType="java.lang.String" resultMap="TradeUserCountInfoMap">
        WITH addMinutes(r.date_time, 15) AS endDt
        SELECT toDate(r.date_time)            AS `date`,
               formatDateTime(endDt, '%H:%M') AS `time`,
               r.trade_user_count
        FROM (
                 SELECT toStartOfFifteenMinutes(toDateTime(trade_time)) AS date_time,
                        COUNT(DISTINCT trade_account)                   AS trade_user_count
                 FROM DWS_BIGSCREEN_DATA.TRADE_JOIN_USER_AND_ASSET_TEST
                 WHERE exchange_type = 'K'
                   AND toDate(trade_time) = #{tradeDate,jdbcType=VARCHAR}
                   AND is_grey = '0'
                 GROUP BY date_time
                 ORDER BY date_time ASC
             ) AS r
    </select>

    <select id="getLastMonthTradeUserCountInfo" parameterType="java.lang.String" resultMap="TradeUserCountInfoMap">
        SELECT r.`date`,
               COUNT(DISTINCT r.trade_account) AS trade_user_count
        FROM (
                 SELECT toDate(trade_time) AS `date`,
                        trade_account
                 FROM DWS_BIGSCREEN_DATA.TRADE_JOIN_USER_AND_ASSET_TEST
                 WHERE exchange_type = 'K'
                   AND toDate(trade_time) &gt;= #{beginTradeDate,jdbcType=VARCHAR}
                   AND toDate(trade_time) &lt;= #{endTradeDate,jdbcType=VARCHAR}
                   AND is_grey = '0'
             ) AS r
        GROUP BY r.`date`
        ORDER BY r.`date` ASC
    </select>
</mapper>